body{
  background-color: #63686e;
}
#title{
  background-image:linear-gradient(45deg,#000000,#222831,#333333);
  padding: inherit;
  border-radius: 0 0 150% 70%;
}
#title2{
  background-image:linear-gradient(140deg,#04009a, #77acf1);
}
#fet{
  text-align: left;
}
#fas{
  padding-top: 20px;
  padding-bottom: 20px;

}
#fet .a:{text-decoration: none;}
#con{
  background-image: linear-gradient(140deg,#04009a, #77acf1);

}
#footer{
  background-color: #232931;
}
